<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    <style media="screen">
      * {
        margin: 0;
        padding: 0;
        outline: none;
      }
      body {
        font-family: Noto Mono;
        background: linear-gradient(45deg, #EECFBA, #C5DDE8);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .container {
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .form-1 {
        background: rgba(0,0,0,0.8);
        width: 350px;
        /* left: 50%; */
        position: relative;
        /* transform: translate(-50%,0%); */
        border-radius: 20px;
        border: 1.5px solid black;
        padding: 5px;
        color: #4587F3;
      }
      label {
        font-size: 18px;
        font-weight: bold;
      }
      input {
        width: 60px;
        text-align: right;
        font-size: 16px;
        border-radius: 20px;
        border: 1.5px solid #EE7655;
        padding-right: 5px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        background: #f4f4f4;
      }
      .form-1 input:nth-child(2) {
        color: orange;
      }
      .form-1 input:nth-child(4) {
        color: green;
      }
      .form-1 input:nth-child(6) {
        color: red;
      }
      input::placeholder{
         font-weight: bold;
      }
      .form-1 input:nth-child(2)::placeholder{
	       color: orange;
      }
      .form-1 input:nth-child(4)::placeholder{
	       color: green;
      }
      .form-1 input:nth-child(6)::placeholder{
	       color: red;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      input[type='number'] {
        -moz-appearance: textfield;
      }
      .form-1 button {
        background: orange;
        border: 0;
        border-radius: 20px;
        width: 100%;
        height: 27px;
        margin-top: 5px;
        cursor: pointer;
      }
      .form-1 button:hover {
        opacity: 0.5;
      }
      hr {
        margin-top: 5px;
        height: 1.5px;
        background: #000;
        border: 0;
      }
      .form-1 p {
        margin-top: 5px;
        font-size: 16px;
      }
      .form-1 p span {
        font-weight: bold;
      }
      .form-1 p span:nth-child(1) {
        color: orange;
      }
      .form-1 p span:nth-child(2) {
        color: green;
      }
      .form-1 p span:nth-child(3) {
        color: red;
      }
    </style>

    <div class="container">
      <div class="form-1">
        <form method="post">
          {% csrf_token %}

          {{ form1.a }}
          <label for="{{ form1.a.id_for_label }}">x²+</label>
          {{ form1.b }}
          <label for="{{ form1.b.id_for_label }}">x+</label>
          {{ form1.c }}
          <label for="{{ form1.c.id_for_label }}">=0</label>
          <hr>
          <button type="submit">Вычислить</button>
          <hr>
          {% if success %}
            <p><span>{{ a }}</span>x²+<span>{{ b }}</span>x+<span>{{ c }}</span>=0</p>
          {% endif %}



          {% if success %}
            <p>D: {{ D }}</p>
          {% endif %}
          {% if D > 0 %}
            <p>x1:{{ x1 }}</p>
            <p>x2: {{ x2 }}</p>
          {% elif D == 0 %}
            <p>x: {{ x }}</p>
          {% else %}
            <p>{{ no_x }}</p>
          {% endif %}

          <hr>
          {{ form2 }}
          {% if success %}
            <p>{{ number }} в степени {{ power }} = {{ result }}</p>
          {% endif %}
        </form>

      </div>
    </div>
  </body>
</html>
