{% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>detail </title>
  </head>
  <body>
    <h2>{{ object.title }}</h2>
    <h5>{% trans 'Написан:' %} {{ object.created_datetime }}</h5>
    <p>{{ object.text }}</p>
    {% if object.comments.exists %}
      <h3>{% trans 'Комментарии:' %}({{ object.comments.count }})</h3>
    {% endif %}
    {% for comment in object.comments.all %}
      <p>{{ comment.comment }}</p>
    {% endfor %}
  </body>
</html>
