{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% trans 'Title' %}</title>
    <link rel="stylesheet" href="{% static 'styles/list.css' %}">
  </head>
  <body>
    {% for object in object_list %}
      <h2>{{ object.title }} ( {{ object.id }} )</h2>
      <b>{% trans 'Дата публикации:'%} {{ object.created_datetime }}</b>
      <p>{{ object.preview }}</p>
      <b>
        <a target="_blank" href="{% url 'post_detail' object.pk %}">{% trans 'Подробнее' %}</a>
      </b>

      <hr>
    {% endfor %}
  </body>
</html>
