<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    <style media="screen">
      input {
        width: 50px;
      }
    </style>
    <p>ax²+bx+c=0</p>
    <form method="post">
      {% csrf_token %}
      {{ form2.as_p}}
      <hr>

      <button type="submit">Вычислить</button>
      <p>{{ a }}x²+{{ b }}x+{{ c }}=0</p>
    </form>
    <p>D: {{ D }}</p>
    {% if D > 0 %}
    <p>x1: {{ x1 }}</p>
    <p>x2: {{ x2 }}</p>
    {% elif D == 0 %}
    <p>x: {{ x }}</p>
    {% else %}
    <p>{{ no_x }}</p>
    {% endif %}
  </body>
</html>
