<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    {% if user.is_anonymous %}
    <h2>Privet, Anonymous!!!</h2>
    {% else %}
    <h2>Privet, {{ user.first_name }} {{ user.last_name }}!!!</h2>
    {% endif %}
  </body>
</html>
